#galeri{}
#galeri>div{
  column-count: 4;
  column-gap: 1em;
  /* unsported browser */
  /* display: inline-block; */
}
#galeri .img{
  position: relative;
  display: inline-block;
  margin: 10px 0;
  box-sizing: border-box;
  width: 100%;
  background: #000;
  border-radius: 10px;
  cursor: pointer;
}

#galeri .img img{
  width: 100%;
  margin: 1rem 0;
}
#galeri .img p{
  bottom: 0;
  color: white;
  position: absolute;
  display: block;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  background: linear-gradient(transparent, rgba(0,0,0,0.7));
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  opacity: 0;
  transition: 0.1s;
}
/* hover */
#galeri .img:hover p{
  opacity: 1;
  transition: 0.2s;
}
