#profile{ }
#profile h2{ font-size: 25px; font-weight: normal; }
#profile h1{ font-size: 56px; text-transform: capitalize;}
#profile p{ font-size: 16px; }
@media (max-width: 480px) {
  #profile h2{ font-size: 22px; }
  #profile h1{ font-size: 45px;}
}


/* universe */
#universe{
  margin: 60px 0;
  transform: skewY(2deg);
  background: black;
}
.container-universe{
  box-sizing: border-box;
  padding: 100px 0;
  height: 335px;
  transform: skewY(-2deg);
}
#universe h1{
  color: white;
  text-align: center;
  text-transform: capitalize;
  font-size: 78px;
}
#universe p{
  color: white;
  text-align: center;
}
@media (max-width: 480px) {
  #universe h1{
    font-size: 59px;
  }
}

/* whatis */
#what-is{
  width: 70%;
}
@media (max-width:720px) {
  #what-is{
    width: 100%;
  }
}
#what-is p{
  font-size: 20px;
  text-align: justify;
  /* font-weight: bold; */
}
@media (max-width: 480px) {
  #what-is p{
    font-size: 18px;
    text-align: justify;
    /* font-weight: bold; */
  }
}
